@tailwind base;
@tailwind components;
@tailwind utilities;

/* Небольшие общие правки, чтобы ничего не ломать */
html,
body,
#root {
  height: 100%;
}

/* Можно мягко задать фон по умолчанию, но наши страницы всё равно его перекрывают */
body {
  margin: 0;
}

@layer base {
  html,
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", "Liberation Sans", sans-serif;
  }
}
